<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   	{% load staticfiles %}	
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/justified.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/nav.css' %}" />
    <script type="text/javascript" src="{% static '/static/js/jQuery v1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/bootstrap.min.js' %}"></script>
    
    <title>JUIDRINK</title>
  </head>
  <style type="text/css">
    .logo{
      width:80px;
      border:2px;
    }
  </style>
  <script>
    $(function(){
      $('a[title]').tooltip();
    });

  </script>
  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">ju I drink</h3>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="board">
              <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active">
                   <a href="#50lan" data-toggle="tab">
                    <img class="img-circle logo round-tabs" src="{% static '/static/img/50lan.png' %}"></a>
                  </a>
                  </li>

                  <li>
                    <a href="#dayungs" data-toggle="tab">
                      <img class="img-circle logo round-tabs" src="{% static '/static/img/dayungs.png' %}"></a>
                  </li>
                  
                  <li>
                    <a href="#orangetea" data-toggle="tab">
                      <img class="img-circle logo round-tabs" src="{% static '/static/img/orangetea.png' %}">
                    </a>
                  </li>

                   <li><a href="#chingshin" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/chingshin.png' %}"></a>
                    </li>

                   <li><a href="#teaplus" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/teaplus.png' %}"></a>
                   </li>
                   <li><a href="#c-cup" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/c-cup.png' %}"></a>
                   </li>
                   <li><a href="#presotea" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/presotea.png' %}"></a>
                   </li>
                   <li><a href="#sadou" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/sadou.png' %}"></a>
                   </li>
                   <li><a href="#coco" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/coco.png' %}"></a>
                   </li>
                   <li><a href="#comebuy" data-toggle="tab">
                        <img class="img-circle logo round-tabs" src="{% static '/static/img/comebuy.png' %}"></a>
                   </li>
                   <li><a href="#kingtea" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/kingtea.png' %}"></a>
                   </li>
                   <li><a href="#teamagichand" data-toggle="tab">
                       <img class="img-circle logo round-tabs" src="{% static '/static/img/teamagichand.png' %}"></a>
                   </li>
                   
                 </ul></div>
                  
                   <div class="tab-content">
                    <div class="tab-pane fade in active" id="50lan">
                      <h3 class="head text-center">50lan</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "50lan" %}
                      <p>{{store.address}}  </p>
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="dayungs">
                      <h3 class="head text-center">dayungs大苑子</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "dayungs" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="orangetea">
                      <h3 class="head text-center">orangetea</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "orangetea" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="chingshin">
                      <h3 class="head text-center">chingshin</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "chingshin" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="teaplus">
                      <h3 class="head text-center">teaplus</h3> 
                      {% for store in all_Store%}
                      
                      {% if store.store == "teaplus" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="c-cup">
                      <h3 class="head text-center">c-cup</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "c-cup" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="presotea">
                      <h3 class="head text-center">presotea</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "presotea" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="sadou">
                      <h3 class="head text-center">sadou</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "sadou" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="coco">
                      <h3 class="head text-center">coco</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "coco" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="comebuy">
                      <h3 class="head text-center">comebuy</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "comebuy" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="kingtea">
                      <h3 class="head text-center">kingtea</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "kingtea" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="tab-pane fade in active" id="teamagichand">
                      <h3 class="head text-center">teamagichand</h3> 
                      {% for store in all_Store%}
                      {% if store.store == "teamagichand" %}
                      {{store.address}}  
                      {% endif %}
                      {% endfor %}
                    </div>                
                    </div>                
                    </div>                
            <div class="clearfix"></div>
            </div>

            </div>
            </div>
                                 
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
