<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   	{% load staticfiles %}	
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap.min.css' %}" />
    <title>403</title>
  </head>
  <style type="text/css">
    body { background-image: url({% static '/static/img/bg.png' %});}
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
  </style>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                  <h1 class="text-danger">Msg!!</h1>
                  
                    <br>{{msg}}
                </div>
            </div>
        </div>
    </div>

    </div> <!-- /container -->
  </body>
</html>
