{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!--- <div id="map-canvas" style="margin-top:130px;position: absolute; left: 0%; top: 0px; z-index: 2; width: 100%; height: 55%;"></div> -->>
<style type="text/css">

#main, #main>.row {
  height:100%;
  top:400px;
}

.custyle{
    margin-top:50px; 
    padding-bottom:20px;
  }
.content{
  padding-top:100px; 
  padding-bottom:20px;
}
#map-canvas {
    height: 400px;
    width: 100%;
}

</style>
          
<div class="container content" id="main">
<div class="alert alert-info" id="info-message" ><i class="fa fa-spinner fa-spin fa-2x "></i> <span>請允許存取地理座標位置<span></div>
<div class="alert alert-success" id="success-message" style="display: none;"><i class="fa fa-check-square"></i> <span></span></div>
<div class="alert alert-danger" id="error-message" style="display: none;"></div>

  <div id ="map-canvas"></div>
  <div class="row">
    <div class="col-xs-12 custyle" id="left">
      <table class="table table-striped custab" style="display: none;">
        <thead>
          <tr>
            <th>商家</th>
            <th>分店</th>
            <th>地址</th>
            <th>電話</th>
            <th>座標</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
  </div>
</div>


<script>
var x = document.getElementById("demo");
var map;
var center = new google.maps.LatLng(25, 121);
var nearbyPoint = new Array(new google.maps.LatLng);
var userLocation =[];

$(function(){
  getLocation();
  /* now inside your initialise function */
  infowindow = new google.maps.InfoWindow({
    content: "holding..."
  });
  for (var i = 0; i < markers.length; i++) {
    var marker = markers[i];
    google.maps.event.addListener(marker, 'click', function () {
      // where I have added .html to the marker object.
      infowindow.setContent(this.html);
      infowindow.open(map, this);
    });
  }
});


function getLocation() {
    if (navigator.geolocation) {
      $('#info-message span').text("正在抓取地理位置座標..........");
        navigator.geolocation.getCurrentPosition(showPosition,showError);
        
    } else { 
        $('#error-message').text("Geolocation is not supported by this browser.");
        $('#error-message').show();
    }
}

function showPosition(position) {
  var geo = [position.coords.latitude, position.coords.longitude];
  $('#info-message span').text("取得地理座標位置: "+geo.toString());
  $.ajax({
    url: "http://maps.googleapis.com/maps/api/geocode/json" , 
    type: 'GET',
    async: 'false',
    data: {
      'latlng': position.coords.latitude+","+ position.coords.longitude,
      'sensor': "true_or_false",
    },success: function(msg) {
      for (var i =0 ;i <msg['results'][0]['address_components'].length ; i++){
        if (msg['results'][0]['address_components'][i]['types']=="postal_code"){
          center= new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          doSearch(msg['results'][0]['address_components'][i]['long_name'],msg['results'][0]['formatted_address'])
        }
      }
      initialize();
    },error: function(msg) {
      errorStatus(msg);
    }
  });
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            $('#error-message').text("User denied the request for Geolocation.");
            break;
        case error.POSITION_UNAVAILABLE:
            $('#error-message').text("Location information is unavailable.");
            break;
        case error.TIMEOUT:
            $('#error-message').text("The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            $('#error-message').text("An unknown error occurred.");
            break;
    }
    $('#error-message').show();
}

function doSearch(zipcode,address){
    $('#info-message span').text("根據您所在位置: "+address+ ", 地區飲料店位置搜尋中....");
    $.ajax({
      url: "/locate" , 
      type: 'POST',
      data: {
        'zipcode': zipcode,
      },success: function(msg) {
        msg = JSON.parse(msg['data']);
        for (var i=0;i<msg.length;i++){
          var content = "<tr><td>"+StoreMapping(msg[i]['fields']['store'])+"</td><td>"+msg[i]['fields']['store_name']+"</td><td>"+msg[i]['fields']['address']+"</td><td>"+msg[i]['fields']['phone']+"</td><td>"+"<a href='https://www.google.com.tw/maps/place/"+msg[i]['fields']['location']+"'target='_blank'><i class='fa fa-map-marker'></i> 地圖外顯</a></td><td>";
          $('table').show();
          $("#tbody").append(content);
          var s  =msg[i]['fields']['location'].split(',');
          var lat=parseFloat(s[0]);
          var lng=parseFloat(s[1]);
          neighborhoods.push({
            'store_position':new google.maps.LatLng(lat, lng),
            'store_infomation':msg[i]['fields']['store']
          });
        }
        draw();
        $('#success-message span').text("[ "+address+ " ],區域性飲料店搜尋完成。");
        $('#info-message').hide();
        $('#success-message').show();
      },error: function(msg) {
        errorStatus(msg);
      }
    });
}

function errorStatus(msg){
  $('#error-message').text(msg);
  $('#error-message').show();
  $('#info-message').hide();
  $('#success-message').hide();
  }

// multimaker
var infowindow = null;
var neighborhoods = [];
var markers = [];
var iterator = 0;
var map;

function initialize() {
  var mapOptions = {
    zoom: 16,
    center: center
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
}

function draw() {
   markers.push(new google.maps.Marker({
    position: center,
    map: map,
    // icon:"http://italc.sourceforge.net/home.png"
  }));
  for (var i = 0; i < neighborhoods.length; i++) {
    setTimeout(function() {
      addMarker();
    }, i * 70);
  }
  console.log("dropend");
}

function addMarker() {
  var imgPath = '/static/img/'+ neighborhoods[iterator]['store_infomation']+'.png'
  console.log(imgPath)
  console.log(neighborhoods[iterator]['store_position'])  
  markers.push(new google.maps.Marker({
    position: neighborhoods[iterator]['store_position'],
    map: map,
    draggable: false,
    icon:{
      url:imgPath,
      scaledSize:new google.maps.Size(30,30)
    },
    animation: google.maps.Animation.DROP
  }));
  info= new google.maps.InfoWindow({content: "123"})
  iterator++;
}


function StoreMapping (name){
  switch(name) {
    case '50lan':
      return ('50嵐');
    case 'dayungs':
      return ('大苑子');
    case 'orange':
      return ('橘子工坊') ;
    case 'orangetea':
      return ('橘子工坊') ;
    case 'chingshin':
      return ('清心福全');
    case 'teaplus':
      return('水巷茶弄');
    case'c-cup':
      return ('C-cup');
    case 'presotea':
      return ('鮮茶道');
    case 'sadou':
      return ('舞茶道');
    case 'coco':
      return ('COCO');
    case 'comebuy':
      return ('comebuy');
    case 'kingtea':
      return ('清玉');
    case 'teapatea':
      return ('茶湯會');
    case 'teamagichand':
      return ('茶的魔手');
    default:
      return name;
  }
}
</script>
{% endblock %}