{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!--- <div id="map-canvas" style="margin-top:130px;position: absolute; left: 0%; top: 0px; z-index: 2; width: 100%; height: 55%;"></div> -->>
<style type="text/css">
#map-canvas {
    width:32.3333%;
    height:calc(50% - 0);
    position:absolute;
    right:15px;
    top:100px;
    bottom:100px;
    overflow:hidden;
}

#main, #main>.row {
  height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
  height:100%;
}

</style>
<div id ="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8 custyle" id="left">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>商家</th>
            <th>分店</th>
            <th>地址</th>
            <th>電話</th>
            <th>座標</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
  </div>
</div>


<style>
  .custyle{
    margin-top:150px; 
    padding-bottom:20px;
  }
</style>

<script>
var x = document.getElementById("demo");
var map;
var center = new google.maps.LatLng(25, 121);
var nearbyPoint = new Array(new google.maps.LatLng);
var userLocation =[];
$(function(){
 getLocation();

});


function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition,showError);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
  var geo = [position.coords.latitude, position.coords.longitude];
  console.log(geo.toString());
  $.ajax({
    url: "http://maps.googleapis.com/maps/api/geocode/json" , 
    type: 'GET',
    async: 'false',
    data: {
      'latlng': position.coords.latitude+","+ position.coords.longitude,
      'sensor': "true_or_false",
    },success: function(msg) {
      for (var i =0 ;i <msg['results'][0]['address_components'].length ; i++){
        if (msg['results'][0]['address_components'][i]['types']=="postal_code"){
          center= new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          doSearch(msg['results'][0]['address_components'][i]['long_name'],msg['results'][0]['formatted_address'])
        }
      }
      initialize();
    },error: function(msg) {
      console.log('錯誤記錄');
    }
  });
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}

function doSearch(zipcode,address){
    $.ajax({
      url: "/locate" , 
      type: 'POST',
      data: {
        'zipcode': zipcode,

      },success: function(msg) {
        msg = JSON.parse(msg['data']);
        for (var i=0;i<msg.length;i++){
          var content = "<tr><td>"+msg[i]['fields']['store']+"</td><td>"+msg[i]['fields']['store_name']+"</td><td>"+msg[i]['fields']['address']+"</td><td>"+msg[i]['fields']['phone']+"</td><td>"+msg[i]['fields']['location']+"</td><td>";
          $("#tbody").append(content);
          var s  =msg[i]['fields']['location'].split(',');
          var lat=parseFloat(s[0]);
          var lng=parseFloat(s[1]);
          neighborhoods.push({
            'store_position':new google.maps.LatLng(lat, lng),
            'store_infomation':msg[i]['fields']['store']
          });
        }
        console.log("location end");
        console.log(neighborhoods[3])
        drop();
      },error: function(msg) {
        console.log('錯誤記錄');
      }
    });
    console.log(nearbyPoint);

}
// multimaker


var neighborhoods = [];

var markers = [];
var iterator = 0;

var map;

function initialize() {
  var mapOptions = {
    zoom: 16,
    center: center
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
}

function drop() {
   markers.push(new google.maps.Marker({
    position: center,
    map: map,
    icon:"http://italc.sourceforge.net/home.png"
  }));
  for (var i = 0; i < neighborhoods.length; i++) {
    setTimeout(function() {
      addMarker();
    }, i * 70);
  }
  console.log("dropend");
}

function addMarker() {
  var imgPath = '/static/img/'+ neighborhoods[iterator]['store_infomation']+'.png'
  console.log(imgPath)
  console.log(neighborhoods[iterator]['store_position'])  
  markers.push(new google.maps.Marker({
    position: neighborhoods[iterator]['store_position'],
    map: map,
    draggable: false,
    icon:{
      url:imgPath,
      scaledSize:new google.maps.Size(30,30)
    },
    animation: google.maps.Animation.DROP
  }));
  iterator++;
}

</script>
{% endblock %}