{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static '/static/js/tinyMap/googlemaps_api.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<div class="container content" >
  
  <div class="row">
    <div class="col-md-5 col-md-offset-6">
     here are some functions
    </div>
  
  <div id="map-canvas"></div>
  </div>
</div>

<style>
.content{
  padding-top:150px; 
  padding-bottom:20px;
}
#map-canvas {
    height: 500px;
    width: 500px;
}
</style>

<script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 17    
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      var infowindow = new google.maps.InfoWindow({
      content: "Here you are"
      });

      var marker = new google.maps.Marker({
          position: pos,
          map: map,
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };


}

google.maps.event.addDomListener(window, 'load', initialize);
google.maps.event.trigger(map, "resize");
</script>
{% endblock %}