{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
<style type="text/css">
    .logo{
      width:80px;
      border:2px;
    }
    .content{
      margin-top:150px;
    }
  </style>
  <script>
    $(function(){
      $('a[title]').tooltip();
    });

  </script>
<div class="container">
    <div class="row ">
        <div class="board content">
          <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
              {% for store_id, _ in store_tuples %}
              <li>
                <a href="#{{ store_id }}" data-toggle="tab">
                  <img class="img-circle logo round-tabs" src="{% static '/static/img/'|add:store_id|add:'.png' %}"></a>
              </li>
              {% endfor %}
             </ul>
          </div>
                <div class="tab-content">
                {% for identifier, friendly_name in store_tuples %}
                    <div class="tab-pane fade in active" id="{{ identifier }}">
                      <h3 class="head text-center">{{ friendly_name }}</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == identifier %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                {% endfor %}
                    </div>                
                    </div>                
            <div class="clearfix"></div>
            </div>

        </div>
        </div>
                                 
    </div>

{% endblock %}
