{% extends 'base.html' %} 
{% block content %}
{% load staticfiles %}
<style type="text/css">
    .logo{
      width:80px;
      border:2px;
    }
    .content{
      margin-top:150px;
    }
  </style>
  <script>
    $(function(){
      $('a[title]').tooltip();
    });

  </script>
<div class="container">
    <div class="row ">
        <div class="board content">
          <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active">
               <a href="#50lan" data-toggle="tab">
                <img class="img-circle logo round-tabs" src="{% static '/static/img/50lan.png' %}"></a>
              </a>
              </li>

              <li>
                <a href="#dayungs" data-toggle="tab">
                  <img class="img-circle logo round-tabs" src="{% static '/static/img/dayungs.png' %}"></a>
              </li>
              
              <li>
                <a href="#orangetea" data-toggle="tab">
                  <img class="img-circle logo round-tabs" src="{% static '/static/img/orangetea.png' %}">
                </a>
              </li>

               <li><a href="#chingshin" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/chingshin.png' %}"></a>
                </li>

               <li><a href="#teaplus" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/teaplus.png' %}"></a>
               </li>
               <li><a href="#c-cup" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/c-cup.png' %}"></a>
               </li>
               <li><a href="#presotea" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/presotea.png' %}"></a>
               </li>
               <li><a href="#sadou" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/sadou.png' %}"></a>
               </li>
               <li><a href="#coco" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/coco.png' %}"></a>
               </li>
               <li><a href="#comebuy" data-toggle="tab">
                    <img class="img-circle logo round-tabs" src="{% static '/static/img/comebuy.png' %}"></a>
               </li>
               <li><a href="#kingtea" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/kingtea.png' %}"></a>
               </li>
               <li><a href="#teamagichand" data-toggle="tab">
                   <img class="img-circle logo round-tabs" src="{% static '/static/img/teamagichand.png' %}"></a>
               </li>
               
             </ul></div>
              
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="50lan">
                      <h3 class="head text-center">50嵐</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "50lan" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="dayungs">
                      <h3 class="head text-center">大苑子</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "dayungs" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="orangetea">
                      <h3 class="head text-center">橘子工坊</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "orangetea" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade " id="chingshin">
                      <h3 class="head text-center">清新福全</h3> 

                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "chingshin" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="teaplus">
                      <h3 class="head text-center">水巷茶弄</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "teaplus" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade " id="c-cup">
                      <h3 class="head text-center">C cup</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "c-cup" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="presotea">
                      <h3 class="head text-center">鮮茶道</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "presotea" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="sadou">
                      <h3 class="head text-center">舞茶道</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "sadou" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="coco">
                      <h3 class="head text-center">COCO</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "coco" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade " id="comebuy">
                      <h3 class="head text-center">comebuy</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "comebuy" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade " id="kingtea">
                      <h3 class="head text-center">清玉</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "kingtea" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade " id="teamagichand">
                      <h3 class="head text-center">茶的魔手</h3> 
                      <table class="table table-striped ">
                        <thead>
                          <tr>
                              <th>ID</th>
                              <th>store name</th>
                              <th>phone</th>
                              <th>address</th>
                              <th>location</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for store in all_Store%}
                          {% if store.store == "teamagichand" %}
                            <tr>
                                <td>{{store.pk}}</td>
                                <td>{{store.store_name}}</td>
                                <td>{{store.phone}}</td>
                                <td>{{store.address}}</td>
                                <td>{{store.location}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>                
                    </div>                
                    </div>                
            <div class="clearfix"></div>
            </div>

        </div>
        </div>
                                 
    </div>

{% endblock %}